beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
ConsoleMenu==1.0.1
idna==2.10
pause==0.3
progress==1.5
requests==2.25.1
soupsieve==2.2.1
stdiomask==0.0.6
termcolor==1.1.0
urllib3==1.26.4
